html, body {
  height: 100%;
  width: 100%;
}

*{
  margin: 10px;
  padding: 5px;
}

.bulb{
  height: 200px;
  width: 341px;
  background-color: yellow;
}

.bulbcontainer{
  height: 341px;
  width: 341px; 
}

